<section class='post'>
  <section class='post-info'>
    <h2><a><%= @post.title %></h2>
      <p><%= @post.author.username %></p>
    </section>
    <%= @post.url %>
    <p class='post-content'><%= @post.content %></p>
    <a href='<%= new_post_comment_url(@post) %>'>Leave a Comment</a>
  </section>
  <h3>Comments</h3>
  <% @all_comments[nil].each do |comment| %>
    <ul class='comment-chain'>
      <li>
        <%= 
        render partial: "comments/comment", 
        object: comment
      %>
        <a id='expand' href='<%= comment_url(comment) %>'>View comment</a>
        <% @all_comments[comment[:id]].each do |child_comment| %>
          <ul>
            <li>
              <%= 
                render partial: "comments/comment", 
                locals: {comment: child_comment}
              %>
            </li>
          <% end %>
        </ul>
      </ul>
    <% end %>
