<%= @post.title %>
<%= @post.author_id %>
<%= @post.url %>
<br>
<%= @post.content %>
<br>
<a href='<%= new_post_comment_url(@post) %>'>Leave a Comment</a>
<ul>
  <% @all_comments.each do |comment| %>
    <% next if comment.parent_comment_id %>
    <li>
      <a href='<%= comment_url(comment) %>'>Expand</a>
      <%= 
        render partial: "comments/comment", 
        object: comment
      %>
    </li>
  <% end %>
</ul>
