<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'header.scss.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render partial: 'layouts/header' %>
    </header>
    <br>
    <% flash.each do |type, msg| %>
      <%= msg %>
    <% end %>
    <%= yield %>
  </body>
</html>
